<h2>Bots</h2>
<div class='card-columns'>
  <div class='card'>
    <div class='card-body'>
      <div class='card-title'>Get the page h1 element</div>
      <p class='card-test'>
        <%
          bot_attributes = { name: 'Get Header', start_url: sample_page_url, inspects_attributes: { '0': { name: 'header', target: 'h1'} } }
        %>
        <pre>
<%= JSON.pretty_generate bot_attributes %>
        </pre>
        <%= button_to 'Try Now', bots_path(bot: bot_attributes), class: 'btn btn-primary' %>
        to get last page data:<br> <code>{"header"=>"My Header"}</code>
      </p>
    </div>
  </div>
  <div class='card'>
    <div class='card-body'>
      <div class='card-title'>Click on page or iframe</div>
      <p class='card-test'>
        <%
            bot_attributes = { name: 'Move to and click', start_url: action_move_to_and_click_url, steps_attributes: { '0': { action: PageService::ACTION_MOVE_TO_AND_CLICK, selector_type: 'css', locator: '#click-holder' }, '1': { action: PageService::ACTION_MOVE_TO_AND_CLICK, selector_type: :css, locator: 'iframe' } } }
        %>
        <pre>
<%= JSON.pretty_generate bot_attributes %>
        </pre>
        <%= button_to 'Try Now', bots_path(bot: bot_attributes), class: 'btn btn-primary' %>
        to see how it clicks inside <code>div</code> or <code>iframe</code> element
      </p>
    </div>
  </div>
  <div class='card'>
    <div class='card-body'>
      <div class='card-title'>Get all book names</div>
      <p class='card-test'>
        <%
            bot_attributes = { name: 'Book names', start_url: paginated_with_links_url, steps_attributes: { '0': { action: PageService::VISIT_PAGE_FIND_LINK_AND_VISIT_LINK_URL_UNTIL_LINK_DISAPPEAR, selector_type: :css, locator: '[rel="next"]'}, '1': { action: PageService::FIND_ALL_ELEMENTS_AND_CREATE_PAGES_FROM_THEM, selector_type: :css, locator: '.card-body' }}, inspects_attributes: { '0': { name: 'book', target: '.card-title', regexp: '\S+(?: \S+)*' } } }
        %>
        <pre>
<%= JSON.pretty_generate bot_attributes %>
        </pre>
        <%= button_to 'Try Now', bots_path(bot: bot_attributes ), class: 'btn btn-primary' %>
        so you can download results in json format:<br>
        <code>
          [{"book":"book_1_title"},{"book":"book_2_title"}, ...]
        </code>
      </p>
    </div>
  </div>
  <div class='card'>
    <div class='card-body'>
      <div class='card-title'>Log in</div>
      <p class='card-test'>
        <%
            bot_attributes = { name: 'Log in', start_url: sign_in_required_url, steps_attributes: { '0': { action: PageService::FILL_IN, selector_type: 'fillable_field', locator: 'Username', filters: {"with"=>"myusername"} }, '1': {action: PageService::FIND_AND_CLICK, selector_type: 'link_or_button', locator: 'Login'}}, inspects_attributes: { '0': { name: 'my-account', target: '#my-account'} } }
        %>
        <pre>
<%= JSON.pretty_generate bot_attributes %>
        </pre>
        <%= button_to 'Try Now', bots_path(bot: bot_attributes), class: 'btn btn-primary' %>
        and fetch data behind authentication wall<br>
        <code>
          {"my-account"=>"Hello myusername"}
        </code>
      </p>
    </div>
  </div>
</div>
<hr>
<h2>Sample sites</h2>
<%= link_to 'Sample', sample_page_path %>
<br>
<%= link_to 'Action move to and click', action_move_to_and_click_path %>
<br>
<%= link_to 'Paginated With Links', paginated_with_links_path %>
<br>
<%= link_to 'Paginated With Errors', paginated_with_errors_path %>
<br>
<%= link_to 'Non ascii', non_ascii_path %>
<br>
<%= link_to 'Sign in required', sign_in_required_path %>
<br>
<%= link_to 'Sample error', sample_error_path %>
