<div id='remote-form' class="position-relative">
  <%= bootstrap_form_with model: @inspect, url: @inspect.new_record? ? bot_inspects_path(@inspect.bot) : inspect_path(@inspect) do |f| %>
    <div class='row'>
      <div class='col-md-6'>
        <%= f.text_field :name %>
        <%= f.check_box :enabled %>
        <%= f.text_field :target, help: "<a href='https://www.w3.org/TR/selectors-3/#selectors'>css</a>  selector like <code>.class</code> or <a href='https://www.w3schools.com/xml/xpath_syntax.asp'>xpath</a> like <code>//div[@id=main]</code> <a href='https://chrome.google.com/webstore/detail/selectorgadget/mhjhnkcfbdhnjickkkdbjoemdmbfginb'>chrome extension</a> (green and yellow are selected)".html_safe, 'data-controller': 'forms', 'data-action': 'keyup->forms#submit_form_ajax', 'data-ajax-url': calculate_bot_inspects_path(@inspect.bot) %>
        <small>
          CSS examples you can try in JS console <code>$('div').length</code>, <code>$('div')[0]</code>:<br>
          Note that <code>last-child</code> and <code>div:nth-of-type(2)</code> are not supported in Nokogiri.css but xpath is fully supported<br>
          <code>div.btn</code> to select first div with class "btn"<br>
          <code>div:not(.btn)</code> to select first div which does not have class "btn"<br>
          <code>meta[property="og:description"]</code> to select first meta with property "og:description"<br>
          <code>meta[property="og:description"]:not(.btn)</code> to select first meta with property "og:description" which does not have class "btn"<br>
        </small>
        <small>
          XPath examples:<br>
          <code>//div[last()]</code> get last div
          <code>//div[@class='btn'][1]</code> to select first div with class "btn"<br>
          <code>//div[contains(text(), "mystr")]</code> to get divs which contain <b>mystr</b><br>
          <code>//li[text()='my']/preceding-sibling::li</code> to get li element before li with text "mystr"<br>
        </small>
        <%= f.text_field :target_attribute, 'data-controller': 'forms', 'data-action': 'keyup->forms#submit_form_ajax', 'data-ajax-url': calculate_bot_inspects_path(@inspect.bot), help: "Use blank if you want whole element text" %>
        <%= f.check_box :ignore_error_when_element_not_found, "data-action": "forms#submit_form_ajax", "data-ajax-url":calculate_bot_inspects_path(@inspect.bot) %>
        <%= f.text_field :regexp, 'data-controller': 'forms', label: "JSON <code>['sku']</code>(to see all keys use helper <code>#{Inspect::KEYS_KEY}</code>). First we proccess <code>[]</code> then we proccess as Regexp. See examples below:".html_safe, 'data-action': 'keyup->forms#submit_form_ajax', 'data-ajax-url': calculate_bot_inspects_path(@inspect.bot), help: "Regexp is used to filter target text (<code>value.scan(Regexp.new .).join</code>)  <a href='https://regex101.com/r/9iyWbK/1'>regex101</a>".html_safe %>
        <small>
          <code>\d+</code> to get only digits<br>
          <code>\S+(?: \S+)*</code> to get only one non space character between<br>
          <code>\S+@\S+</code> to get email surrounded by white space
        </small>
        <%= f.select :transformations, Inspect::TRANSFORMATIONS, {}, multiple: true, 'data-controller': 'forms', 'data-action': 'change->forms#submit_form_ajax', 'data-ajax-url': calculate_bot_inspects_path(@inspect.bot) %>
      </div>
      <div class='col-md-6'>
        <dl>
          <dt>Result</dt>
          <dd>
            <%= text_field_tag 'preview', @inspect.bot.last_page.data[@inspect.name], class: 'w-100', disabled: true %>
          </dd>
          <dt>Preview</dt>
          <dd>
            <iframe width='100%' height="300px" srcdoc="
              <%= @inspect.bot.last_page.content.gsub '"', "'" %>
              "></iframe>
          </dd>
          <dt>HTML</dt>
          <dd>
            <%= text_area_tag :code, @inspect.bot.last_page.content, rows: 10, style: "width:100%", disabled: true %>
          </dd>
        </dl>
      </div>
    </div>
    <div class='remote-form__actions'>
      <% unless @inspect.new_record? %>
        <%= link_to inspect_path(@inspect), method: :delete, 'data-confirm': t_are_you_sure_to_remove_item_name(@inspect.name), title: 'Delete inspect', class: 'btn btn-outline-danger' do %>
          <i class="demo-icon icon-trash-empty" aria-hidden="true"></i>
          <%= t('delete') %>
        <% end %>
      <% end %>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
  <div class="position-absolute" style="left: 100px; bottom: 0px"> <%# left 100px because of Delete %>
    <%= button_tag_open_modal duplicate_inspect_path(@inspect), text: "Duplicate" %>
  </div>
</div>
