<%
  breadcrumb Run.model_name.human(count: 2) => runs_path, @page.run.bot.name_or_start_url => bot_path(@page.run.bot), "Run #{@page.run.id}" => run_path(@page.run), @page.id => nil
%>
<div class='row'>
  <div class='col-md-3'>
    <div class='card'>
      <div class='card-body'>
        <%= link_to page_path(@page, format: :csv), class: 'btn btn-link' do %>
          <i class="demo-icon icon-doc-text" aria-hidden="true"></i>
          CSV
        <% end %>
        <%= link_to page_path(@page, format: :json), class: 'btn btn-link' do %>
          <i class="demo-icon icon-doc-text" aria-hidden="true"></i>
          JSON
        <% end %>
        <%= button_to inspect_page_path(@page), class: 'btn btn-block btn-primary' do %>
          <i class="demo-icon icon-zoom-in-outline" aria-hidden="true"></i>
          Inspect again
        <% end %>
      </div>
    </div>
  </div>
  <div class='col-md-9'>
    <div class='card'>
      <div class='card-body'>
        <div class='edit-button'>
          <%= button_to page_path(@page), method: :delete, 'data-confirm': t_are_you_sure_to_remove_item_name(@page.id), title: t_crud('delete', Page), class: 'btn btn-outline-danger' do %>
            <i class="demo-icon icon-trash-empty" aria-hidden="true"></i>
            <%= t('delete') %>
          <% end %>
        </div>
        <%= detail_view_list do %>
          <%= detail_view_one 'URL', link_to(@page.url.html_safe + '<i class="demo-icon icon-link-ext"></i>'.html_safe, @page.url, target: :_blank) %>
        <% end %>
        <%= detail_view_list @page, *([:id] + Page::FIELDS - [:url, :content, :data]) %>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-body">
        <%= detail_view_list do %>
          <% @page.data.each do |key, value| %>
            <%= detail_view_one key, value %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-body">
        <dl>
          <dt>
            Preview
            <%= link_to 'Another tab <i class="demo-icon icon-link-ext"></i>'.html_safe, content_page_path(@page), target: :_blank %>
          </dt>
          <dd>
            <iframe width='100%' height="300px" srcdoc="
              <%= @page.content.gsub '"', "'" %>
              "></iframe>
          </dd>
          <dt>HTML</dt>
          <dd>
            <%= text_area_tag :code, @page.content, rows: 10, style: "width:100%", disabled: true %>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
