<div id='remote-form'>
  <%= bootstrap_form_with model: @bot, layout: :horizontal do |f| %>
    <%= f.text_field :start_url, placeholder: 'https://en.wikipedia.org/wiki/Main_Page' %>
    <%= f.text_field :name, placeholder: 'Wiki: On this day' %>
    <%= f.select :engine, Bot.engines, help: 'mechanize does not supports screenshots' %>
    <% Bot::CONFIG_BOOLEAN_KEYS.each do |key| %>
      <%= f.check_box key, name: "#{f.object.class.name.underscore}[config][#{key}]", checked: f.object.config&.dig(key) == '1', label: key.to_s.titleize %>
    <% end %>
    <div class='remote-form__actions'>
      <% unless @bot.new_record? %>
        <%= link_to bot_path(@bot), method: :delete, 'data-confirm': t_are_you_sure_to_remove_item_name(@bot.name), title: t_crud('delete', Bot), class: 'btn btn-outline-danger' do %>
          <i class="demo-icon icon-trash-empty" aria-hidden="true"></i>
          <%= t('delete') %>
        <% end %>
      <% end %>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
