<%
  breadcrumb Bot.model_name.human(count: 2) => bots_path, @bot.name => nil
%>
<div class='row'>
  <div class='col-md-9'>
    <div class='card'>
      <div class='card-body'>
        <%= button_tag_open_modal edit_bot_path(@bot), title: t_crud('edit', Bot), pull_right: true %>
        <%= detail_view_list do %>
          <%= detail_view_one 'Start URL', link_to(@bot.start_url.html_safe + '<i class="demo-icon icon-link-ext"></i>'.html_safe, @bot.start_url, target: :_blank) %>
          <%= detail_view_one 'Name' do %>
            <%= content_tag :span, @bot.name, 'data-test': 'bot-name' %>
          <% end %>
          <%= detail_view @bot, *(Bot::FIELDS - %i[start_url name]) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
    <div class='card'>
      <div class='card-body text-center'>
        <%= button_to runs_path(bot_id: @bot.id, run_now: true, redirect_to: bot_path(@bot)), class: 'btn btn-block btn-info mb-2' do %>
          <i class="demo-icon icon-play-outline" aria-hidden="true"></i>
          Run now
        <% end %>
        <%= button_to runs_path(bot_id: @bot.id, redirect_to: bot_path(@bot)), class: 'btn btn-block btn-primary' do %>
          <i class="demo-icon icon-fast-fw-outline" aria-hidden="true"></i>
          Run in background
        <% end %>
        <%= link_to 'Last run', run_path(@bot.last_run) %> generated <%= pluralize @bot.last_run.pages.count, 'page' %>
        <%= link_to 'See Bot Runs', runs_path(RunsDatatable.param_set('bot.id', @bot.id)), class: 'btn btn-link text-center' %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class='row'>
  <div class='col-md-9'>
    <div data-test='steps'>
      <div class='float-left'>
        <% if @bot.steps.blank? %>
          Navigate to a desired page or use loop to download multiple pages
        <% end %>
        <%= button_tag_open_modal new_bot_step_path(@bot) do %>
          <i class="demo-icon icon-plus" aria-hidden="true"></i>
          Add new step
        <% end %>
      </div>
      <%= table_view @bot.steps, *Step::FIELDS do |step| %>
        <%= button_tag_open_modal edit_step_path(step) %>
      <% end %>
      <% if @bot.steps.blank? %>
        Default page is Start URL
      <% end %>
    </div>
  </div>
  <div class='col-md-3'>
    <div class='card'>
      <div class='card-body'>
        <% if @bot.last_page.present? %>
          <h5 class="card-title">
            PageService
            <%= link_to 'Last Page', page_path(@bot.last_page) %>
            <small><%= time_ago_in_words @bot.last_page.created_at %> ago</small>
          </h5>
          <%= @bot.last_page.content.truncate 250 %>
        <% else %>
          <%= @bot.last_run.error_log %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class='row'>
  <div class='col-md-9'>
    <div data-test='inspects'>
      <div class='float-left'>
        <% if @bot.inspects.blank? %>
          Once you have pages, you can extract data from it
        <% end %>
        <%= button_tag_open_modal new_bot_inspect_path(@bot) do %>
          <i class="demo-icon icon-plus" aria-hidden="true"></i>
          Add new inspect
        <% end %>
      </div>
      <%= table_view @bot.inspects, *Inspect::FIELDS do |inspect| %>
        <%= button_tag_open_modal edit_inspect_path(inspect) %>
        <%= button_tag_open_modal duplicate_inspect_path(inspect), text: "Duplicate" %>
      <% end %>
    </div>
  </div>
  <div class='col-md-3'>
    <div class='card'>
      <div class='card-body'>
        <% if @bot.last_page.present? %>
          <h5 class="card-title">InspectService <%= link_to 'Last Page Data', page_path(@bot.last_page) %></h5>
          <%=
            content = "<dl>".html_safe
            @bot.last_page.data.each do |k,v|
              content << "<dt>".html_safe
              content << k
              content << "</dt><dd>".html_safe
              content << v
              content << "</dd>".html_safe
            end
            content << "</dl>".html_safe
            content
          %>
        <% end %>
      </div>
    </div>
    <div class='card'>
      <div class='card-body'>
        <% if @bot.last_page.present? %>
          <h5 class="card-title">TraceService</h5>
          <ul>
            <% @bot.traces.each do |trace| %>
              <li>
                <%= link_to trace.name, trace_path(trace) %>
              </li>
            <% end %>
          </ul>
          <%= button_tag_open_modal new_bot_trace_path(@bot) do %>
            <i class="demo-icon icon-plus" aria-hidden="true"></i>
            Add new trace
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
