<%
  breadcrumb Bot.model_name.human(count: 2) => bots_path, @bot.name => nil
%>
<div class='row'>
  <div class='col-md-3'>
    <div class='card'>
      <div class='card-body'>
        <%= button_to runs_path(bot_id: @bot.id), class: 'btn btn-block btn-primary' do %>
          <i class="demo-icon icon-play-outline" aria-hidden="true"></i>
          Run in background
        <% end %>
        <%= button_to runs_path(bot_id: @bot.id, run_now: true), class: 'btn btn-block btn-info mt-2' do %>
          <i class="demo-icon icon-fast-fw-outline" aria-hidden="true"></i>
          Run now
        <% end %>
        <% if @bot.runs.present? %>
          <%= link_to 'Last run', run_path(@bot.runs.order(created_at: :asc).last), class: 'btn btn-link' %>
          <%= link_to 'All runs', runs_path(RunsDatatable.param_set('bot.id', @bot.id)), class: 'btn btn-link' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class='col-md-9'>
    <div class='card'>
      <div class='card-body'>
        <%= button_tag_open_modal edit_bot_path(@bot), title: t_crud('edit', Bot), pull_right: true %>
        <%= detail_view_list do %>
          <%= detail_view_one 'Start URL', link_to(@bot.start_url.html_safe + '<i class="demo-icon icon-link-ext"></i>'.html_safe, @bot.start_url, target: :_blank) %>
          <%= detail_view @bot, *(Bot::FIELDS - [:start_url]) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div data-test='steps'>
  <hr>
  <div class='float-left'>
    <%= button_tag_open_modal new_bot_step_path(@bot) do %>
      <i class="demo-icon icon-plus" aria-hidden="true"></i>
      Add new step
    <% end %>
  </div>
  <%= @steps_datatable.render_html search_bot_steps_path(@bot, format: :json) %>
</div>
<div data-test='inspects'>
  <hr>
  <div class='float-left'>
    <%= button_tag_open_modal new_bot_inspect_path(@bot) do %>
      <i class="demo-icon icon-plus" aria-hidden="true"></i>
      Add new inspect
    <% end %>
  </div>
  <%= @inspects_datatable.render_html search_bot_inspects_path(@bot, format: :json) %>
</div>
