<div id='remote-form' data-controller='activate'>
  <%= bootstrap_form_with model: @step, url: @step.new_record? ? bot_steps_path(@step.bot) : step_path(@step) do |f| %>
    <% unless @step.new_record? %>
      <%= f.number_field :position %>
    <% end %>
    <%= f.select :action, StepService::ALL_ACTIONS, {}, 'data-action': 'activate#toggleForValueIncludes', 'data-activate-selector': '[data-activate-type]' %>
    <% StepService::ALL_ACTIONS.each do |action| %>
      <%= content_tag :fieldset, class: "d-none-display-block #{'active' if f.object.action == action.to_s}", disabled: f.object.action != action.to_s, 'data-activate-type': action do %>
        <%= f.select :selector_type, StepService::AVAILABLE_SELECTOR_TYPES_FOR_ACTION[action], {}, 'data-action': 'activate#toggleForValueIncludes', 'data-activate-selector': '[data-activate-subtarget]' %>
      <% end %>
    <% end %>
    <%= f.text_field :locator %>
    <div style='max-width: 500px'>
      <% StepService::SELECTOR_TYPE_AND_FILTERS.each do |selector_type, filters| %>
        <%= content_tag :fieldset, class: "d-none-display #{'active' if f.object.selector_type == selector_type.to_s}", 'data-activate-subtarget': selector_type do %>
          <% if selector_type == :css %>
            <small><b>Locator</b> for <b>Selector type</b> <code>css</code> is a CSS selector.<br>Use right click -> Inspect or <a href='https://chrome.google.com/webstore/detail/selectorgadget/mhjhnkcfbdhnjickkkdbjoemdmbfginb'>chrome extension</a> (green and yellow are selected)</small>
          <% elsif selector_type == :xpath %>
            <small><b>Locator</b> for <b>Selector type</b> <code>xpath</code> XPath expression.<br>Use right click -> Inspect</small>
          <% else %>
            <small><b>Locator</b> matches link/button text, id, name, value, title, label (do not use CSS <code>#</code> or <code>.</code>)<br>If you need to target using CSS than choose <code>css</code> or <code>xpath</code></small>
          <% end %>
          <% container_id = "container-#{selector_type}" %>
          <% template_id = "template-#{selector_type}" %>
          <%= content_tag :fieldset, disabled: true do %>
            <div id='<%= template_id %>' style='display: none'>
              <%= f.select_without_bootstrap :filter_keys, filters, { }, name: 'step[filter_keys][]', class: 'form-control'  %>
              <%= f.text_field_without_bootstrap :filter_values, name: 'step[filter_values][]', class: 'form-control' %>
            </div>
          <% end %>
          <div class='form-inline' id='<%= container_id %>'>
            <% f.object.filters.each do |key, value| %>
              <div>
                <%= f.select_without_bootstrap :filter_keys, filters, { name: 'filter_keys[]', selected: key}, class: 'form-control'  %>
                <%= f.text_field_without_bootstrap "filter_values[]", class: 'form-control', value: value %>
              </div>
            <% end %>
          </div>
          <a href='#' onclick='event.preventDefault(); cloneElementAndAppendTo("<%= template_id %>", "<%= container_id %>")'>Add new filter</a>
        <% end %>
      <% end %>
    </div>
    <div class='remote-form__actions'>
      <% unless @step.new_record? %>
        <%= link_to step_path(@step), method: :delete, 'data-confirm': t_are_you_sure_to_remove_item_name(@step.bot_id), title: t_crud('delete', Step), class: 'btn btn-outline-danger' do %>
          <i class="demo-icon icon-trash-empty" aria-hidden="true"></i>
          <%= t('delete') %>
        <% end %>
      <% end %>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
